
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  background-color: #61A339;
  background-image: url("./images/green-bg.png");
}

h1 {
    text-align: center;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: #ccc;
}

textarea {
  border-radius: 15px;
  width: 80%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #caf4ba;
  font-size: 20px;
  resize: none;
  scrollbar-width: 0px;
}
textarea::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

footer{
    color: white;
}

 
    #input_text{
        height: 350px;
    }
    #output{
        height: 350px;
        background-color: #bce7abea;
    }


@media only screen and (orientation: landscape) {
    .main{
        display: flex;
    }
    textarea {
        font-size: 16px;
    }
    #input_text{
        height: 300px;
        margin: 10px 20px 0px 8px;
    }
    #output{
        height: 300px;
        margin: 10px 8px 0px 20px;
    }
}